@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}

@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Hiragino Mincho Pro',serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.cmn-title {
  margin-top: 40px;
  color: black;
  text-align: center;
  font-size: 32px;
}

.cmn-subtitle {
  margin-top: 20px;
  color: black;
  text-align: center;
  font-size: 20px;
  /*display: block;*/
  text-transform: capitalize;
  font-family: "Times New Roman", "YuMincho", "Hiragano Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.header {
  /*.nav-item {
    &:nth-child(n + 2) {
      padding-left: 10px;
    }
    a {
      color: white;
    }
  }*/
}

.header .header-fixed {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  height: 50px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.header .nav-btn {
  width: 52px;
  height: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  position: relative;
  right: 30px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-btn {
    display: none;
  }
}

.header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .nav-btn.-active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-btn.-active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav-btn.-active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #000;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.header .nav-btn span:first-child {
  top: 0;
}

.header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header .nav-btn span:last-child {
  bottom: 0;
}

.header .header-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(154, 205, 50, 0.8);
  padding-top: 120px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media print, screen and (min-width: 768px) {
  .header .header-nav {
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 3;
    left: inherit;
    right: 0;
    top: 15px;
    opacity: 1;
    visibility: visible;
  }
}

.header .header-nav.-active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header .nav-list {
  text-align: center;
  padding-bottom: 45px;
  font-size: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 25px;
    /*padding-top: 15px;
      padding-bottom: 15px;*/
  }
}

.header .nav-list .nav-item + .nav-item {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list .nav-item + .nav-item {
    margin-top: 0;
    margin-left: 20px;
  }
}

.header .nav-list a {
  /*color: cl(white);*/
  font-size: 24px;
}

@media print, screen and (min-width: 768px) {
  .header .nav-list a {
    font-size: 18px;
  }
}

.header .nav-list a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 10px;
}

.footer {
  background-color: #9acd32;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .copyright-p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.skill {
  /*margin-left: 50px;
  margin-right: 50px;*/
}

.skill .skill-nav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.skill .skill-list {
  margin-top: 40px;
  /*@include overTab {
      flex-wrap: nowrap;
    }*/
}

@media print, screen and (min-width: 435px) {
  .skill .skill-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.skill .skill-item {
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  border: 2px solid #9acd32;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 435px) {
  .skill .skill-item {
    width: 45%;
  }
}

@media print, screen and (min-width: 768px) {
  .skill .skill-item {
    width: 30%;
  }
}

.skill .skill-item:nth-child(n + 3) {
  margin-top: 20px;
}

@media print, screen and (min-width: 435px) {
  .skill .skill-item {
    margin-left: 0;
    margin-right: 0;
  }
  .skill .skill-item:nth-child(n + 3) {
    margin-top: 20px;
  }
  .skill .skill-item:nth-child(2n) {
    margin-left: 20px;
  }
}

@media print, screen and (min-width: 768px) {
  .skill .skill-item {
    margin-left: 0;
    margin-right: 0;
  }
  .skill .skill-item:nth-child(2) {
    margin-left: 20px;
    margin-top: 0px;
  }
  .skill .skill-item:nth-child(3) {
    margin-left: 20px;
    margin-top: 0px;
  }
  .skill .skill-item:nth-child(4) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .skill .skill-item:nth-child(5) {
    margin-left: 20px;
    margin-top: 20px;
  }
  .skill .skill-item:nth-child(6) {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.skill .skill-theme {
  text-align: center;
  font-size: 32px;
  margin-top: 10px;
}

.skill .skill-p {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.skill .skill-image {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.service .service-list {
  margin-top: 30px;
}

@media print, screen and (min-width: 768px) {
  .service .service-list {
    margin-right: 40px;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.service .service-item {
  background-color: #f7f7f7;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item {
    width: 33.3%;
  }
}

.service .service-item:nth-child(n + 2) {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .service .service-item:nth-child(n + 2) {
    margin-left: 40px;
    margin-top: 0px;
  }
}

.service .service-theme {
  text-align: center;
  font-size: 32px;
}

.service .service-text {
  margin-top: 20px;
}

.service .service-price {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
}

.service .service-image {
  /*width: 50%;*/
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.service .service-annotation {
  margin-top: 30px;
  text-align: center;
}

.works .works-area {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media print, screen and (min-width: 768px) {
  .works .works-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

.works .works-link {
  position: relative;
  max-width: 500px;
  /*background-color: rgba(204, 204, 204, 0.8);
    width: 400px;
    height: 300px;
    text-align: center;
    padding-top: 150px;*/
  /*&::after {
      content: "";
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }*/
}

.works .works-link:nth-child(n + 2) {
  margin-top: 20px;
}

@media print, screen and (min-width: 768px) {
  .works .works-link:nth-child(n + 2) {
    margin-left: 20px;
    margin-top: 0px;
  }
}

.works .works-link img {
  vertical-align: middle;
}

.works .works-img {
  vertical-align: middle;
}

.works .works-caption {
  /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;*/
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.works .works-caption p {
  color: #fff;
  /*position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);*/
  text-align: center;
  margin-top: 60px;
  line-height: 40px;
}

.top .top-link {
  /*height: 500px;*/
  width: 80%;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.top .top-link img {
  vertical-align: middle;
}

.top .top-title {
  content: "";
  background-color: rgba(154, 205, 50, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  bottom: 15%;
}

.top .top-title p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  width: 80%;
  font-family: "Shin Go Regular";
  font-weight: bold;
}

@media print, screen and (min-width: 768px) {
  .top .top-title p {
    font-size: 50px;
    line-height: 75px;
  }
}

@media print, screen and (min-width: 960px) {
  .top .top-title p {
    font-size: 70px;
    line-height: 105px;
  }
}

.contact .contact-text {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.contact .contact-img {
  background-color: #adff2f;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.contact .contact-mail img {
  width: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flow .flow-list {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 768px) {
  .flow .flow-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*align-items: center;*/
  }
}

.flow .flow-item {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media print, screen and (min-width: 768px) {
  .flow .flow-item {
    width: 20%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.flow .flow-item p {
  font-size: 16px;
}

.flow .flow-theme {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.flow .flow-next {
  display: none;
}

@media print, screen and (min-width: 768px) {
  .flow .flow-next {
    display: inline;
    font-size: 24px;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */