.skill {
  /*margin-left: 50px;
  margin-right: 50px;*/

  .skill-nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .skill-list {
    margin-top: 40px;
    @media print, screen and (min-width: 435px) {
      display: flex;
      flex-wrap: wrap;
    }
    /*@include overTab {
      flex-wrap: nowrap;
    }*/
  }
  .skill-item {
    width: 70%;
    @media print, screen and (min-width: 435px) {
      width: 45%;
    }
    @include overTab {
      width: 30%;
    }
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: column-reverse;

    border: 2px solid cl(yellowgreen);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    &:nth-child(n + 3) {
      margin-top: 20px;
    }
    @media print, screen and (min-width: 435px) {
      margin-left: 0;
      margin-right: 0;
      &:nth-child(n + 3) {
        margin-top: 20px;
      }
      &:nth-child(2n) {
        margin-left: 20px;
      }
    }
    @include overTab {
      margin-left: 0;
      margin-right: 0;
      &:nth-child(2) {
        margin-left: 20px;
        margin-top: 0px;
      }
      &:nth-child(3) {
        margin-left: 20px;
        margin-top: 0px;
      }
      &:nth-child(4) {
        margin-left: 0px;
        margin-top: 20px;
      }
      &:nth-child(5) {
        margin-left: 20px;
        margin-top: 20px;
      }
      &:nth-child(6) {
        margin-left: 20px;
        margin-top: 20px;
      }
    }
  }
  .skill-text {
  }
  .skill-theme {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
  }
  .skill-p {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
  .skill-image {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}
