.cmn-title {
  margin-top: 40px;
  color: black;
  text-align: center;
  font-size: 32px;
}
.cmn-subtitle {
  margin-top: 20px;
  color: black;
  text-align: center;
  font-size: 20px;
  /*display: block;*/
  text-transform: capitalize;
  font-family: "Times New Roman", "YuMincho", "Hiragano Mincho ProN",
    "Yu Mincho", "MS PMincho", serif;
}
