.footer {
  background-color: cl(yellowgreen);
  padding-top: 30px;
  padding-bottom: 30px;
  .copylight {
  }
  .copyright-p {
    font-size: 14px;
    color: cl(white);
    text-align: center;
  }
}
